$font-family: 'Nunito';
$josefin : 'Josefin Sans', sans-serif;
$redressed: 'Redressed', cursive;
$alt-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$bg : #f3f8fb;
$default-color : #6b0f1a;
$yel-bg : #ffc107;
$default-color-alt: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
$alt-bg: #00B0B9;
$menu-height: 90px;
$footer-height : 50px;
$font14 : 14px;
$font18 : 18px;
$font12 : 12px;
$navColor : rgba(255, 255, 255, 0.9);
$white: #fff;
$mg-50: 50px;
$mg-110: 110px;
$card-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, 0.2);
$radius20: 20px;
$black : rgb(5, 5, 5);
$fixed : fixed;
$green: #197d2b;
